*{
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, #faf7f7, #766a6a);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#img_logo {
    width: 70%;
    margin: 0 auto;
    display: block;
    position: relative;
    left: 25%;
}

header {
    background-color: hsl(174, 70%, 42%);
    color: white;
    padding: 15px;
        
}
nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    width:100%;
    flex-wrap: wrap;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color s;
}
#up{
    ul li a:hover{
        color: #ff0000;
    }
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#down{
    ul li a:hover{
        color:#08dbf7
    }
}

main {
    padding: 20px;
}

section {
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ffffff;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #9b1bb5;
    color: rgb(255, 255, 255);
    font-size: 1.1em;
}

section h2 {
    color: white;
}

section p {
    color: white;
}

@media (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    header {
        background-color: hsl(174, 70%, 42%);
        color: white;
        padding: 15px;
        margin:15px;
            
    }
    nav ul {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        padding: 0;
        
    }

    #img_logo img{
        width: 70%;
        object-fit: cover;
        display: block;
    }
    nav ul li {
        display: block;
        margin: 10px 0;
    }
    
    #img_logo {
        width: 90%;
    }

    section {
        padding: 10px;
    }
}
